{% extends 'admin/base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
    <div>
        <div style="text-align: center;">
            <h3>Registration Details - Alumni Meet</h3>
        </div>
        <table style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th style="border: 1px solid #ddd; padding: 2px; line-height: 1; width: 5%;" rowspan="2">Sl. No.</th>
                    <th style="border: 1px solid #ddd; padding: 2px; line-height: 1; width: 22.5%;" rowspan="2">Name</th>
                    <th style="border: 1px solid #ddd; padding: 2px; line-height: 1; width: 22.5%;" rowspan="2">Place</th>
                    <th style="border: 1px solid #ddd; padding: 2px; line-height: 1; width: 10%;" rowspan="2">Mobile Number</th>
                    <th style="border: 1px solid #ddd; padding: 2px; line-height: 1; width: 10%;" rowspan="2">Whatsapp No.</th>
                    <th style="border: 1px solid #ddd; padding: 2px; line-height: 1; width: 20%;" rowspan="2">Name of Wife</th>
                    <th style="border: 1px solid #ddd; padding: 2px; line-height: .5; width: 10%;" colspan="2">Children</th>
                </tr>
                <tr>
                    <th style="border: 1px solid #ddd; padding: 2px; line-height: .5; width: 5%;">Age 5+</th>
                    <th style="border: 1px solid #ddd; padding: 2px; line-height: .5; width: 5%;">Age 5-</th>
                </tr>
            </thead>
            <tbody>
                {% for a in alumni %}
                <tr>
                    <td style="border: 1px solid #ddd; padding: 2px; width: 5%; text-align: center;">{{ forloop.counter }}</td>
                    <td style="border: 1px solid #ddd; padding: 2px; width: 22.5%;">{{ a.name }}</td>
                    <td style="border: 1px solid #ddd; padding: 2px; width: 22.5%;">{{ a.place }}</td>
                    <td style="border: 1px solid #ddd; padding: 2px; width: 10%; text-align: center;">{{ a.mobile_number }}</td>
                    <td style="border: 1px solid #ddd; padding: 2px; width: 10%; text-align: center;">{{ a.whatsapp_number }}</td>
                    <td style="border: 1px solid #ddd; padding: 2px; width: 20%;">{{ a.name_of_wife }}</td>
                    <td style="border: 1px solid #ddd; padding: 2px; width: 5%; text-align: center;">{{ a.no_of_child_above_5 }}</td>
                    <td style="border: 1px solid #ddd; padding: 2px; width: 5%; text-align: center;">{{ a.no_of_child_below_5 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        
    </div>
{% endblock %}
