{% extends 'admin/base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-left mt-4">
            <div class="m-2">
                <a class="btn btn-secondary" href="{% url 'alumni' %}">Back</a>
            </div>
            <div class="m-2">
                <a class="btn btn-primary" href="{% url 'alumni_create' %}">Add Alumni</a>
            </div>
            <div class="m-2">
                <a class="btn btn-secondary" href="{% url 'export_pdf_alumni' %}">Download PDF</a>
            </div>
            <div class="m-2">
                <form action="{% url 'search' %}" class="search" method="GET">
                    <div class="input-group w-100">
                        <input type="text" class="form-control" style="width:60%;" placeholder="Search" name="keyword">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div> 
        </div>
        <main class="col-md-12">
            <div class="row justify-content-center">
                <div class="m-3 table-heading text-center text-white font-weight-bold border-bottom" style="font-size: 25px; line-height: 1.5;">
                    Registration Details - Alumni Meet
                </div>
            </div>
            <section class="section-pagetop bg">
                <div class="container">
                    {% if 'search' in request.path %}
                    <h6 class="title-page text-center">Search Results for "{{ keyword }}"</h6>
                    {% endif %}
                </div>
            </section>
            <div class="table-responsive">
                <table class="table table-hover table-bordered sticky-header">
                    <thead>
                        <tr style="text-align: center;">
                            <th class="align-middle" style="line-height: 1;" rowspan="2">Sl. No.</th>
                            <th class="align-middle" style="line-height: 1;" rowspan="2">Name</th>
                            <th class="align-middle" style="line-height: 1;" rowspan="2">Place</th>
                            <th class="align-middle" style="line-height: 1;" rowspan="2">Mobile Number</th>
                            <th class="align-middle" style="line-height: 1;" rowspan="2">Whatsapp No.</th>
                            <th class="align-middle" style="line-height: 1;" rowspan="2">Name of Wife</th>
                            <th class="align-middle" style="line-height: .5;" colspan="2">Children</th>
                            <th class="align-middle" style="line-height: 1;" rowspan="2">Status</th>
                            <th class="align-middle" style="line-height: 1;" colspan="2" rowspan="2">Actions</th>
                        </tr>
                        <tr style="text-align: center;">
                            <th style="line-height: .5;">5+</th>
                            <th style="line-height: .5;">5-</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alumni in page_obj %}
                            <tr class="text-white">
                                <td class="text-center">{{ forloop.counter0|add:page_obj.start_index }}</td>
                                <td>{{ alumni.name }}</td>
                                <td>{{ alumni.place }}</td>
                                <td class="text-center">{{ alumni.mobile_number }}</td>
                                <td class="text-center">{{ alumni.whatsapp_number }}</td>
                                <td>{{ alumni.name_of_wife }}</td>
                                <td class="text-center">{{ alumni.no_of_child_below_5 }}</td>
                                <td class="text-center">{{ alumni.no_of_child_above_5 }}</td>
                                <td class="text-center">
                                    {% if alumni.is_registered %}
                                        &#10004;
                                    {% else %}
                                        &#10008;
                                    {% endif %}
                                </td>
                                <td class="text-center"><a class="btn btn-warning" href="{% url 'alumni_update' alumni.pk %}">Edit</a></td>
                                <td class="text-center"><a class="btn btn-danger" href="{% url 'alumni_delete' alumni.pk %}"
                                    onclick="return confirm('Are you sure you want to delete this Alumni?')">Delete</a></td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="11" class="text-center text-white"><strong>No alumni found.</strong></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </main>
    </div>
        
{% endblock %}

