{% extends "admin/base.html" %}

{% block title %}Login - Admin{% endblock %}

{% block content%}
<div class="container d-flex justify-content-center">
    <div class="login-container p-3">
        <h4 class="login-header text-center">Admin Login</h4>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
    </div>
</div>
{% endblock %}